*{
    margin: auto;
    padding: auto;
    box-sizing: border-box;
    margin-top: 20px;
}

.cuadrado{
    display: flex;
    width: 40vh;
    height: 40vh;
}

.text {
    margin: auto;
  }
  
  .li { 
    background:rgba(231, 255, 18, 0.8);
  }